// Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body {
	background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoF_rmnPyVsPMkHFvO8rvF4Mljfd8Y6XbU_g&usqp=CAU";
}
