
  <app-header></app-header>

<div>
    <table class="table">
              
        <thead>
            <tr>
                <th style="min-width:70px;"></th>
                
                <th style="min-width:120px;">Vegetable</th>
                
                <th style="min-width:120px;">Wholesale Price</th>
                
                <th style="min-width:120px;">Retail Price</th>
                
                <th style="min-width:120px;">Last Week Price</th>
                
                <th style="min-width:120px;">Units</th>
                
            </tr>
        </thead>
        <tbody id="todayVegetableTableBody" data-current-date="2022-08-25" data-start-date-limit="2021-09-13">
            
                
                    <tr class="todayVetableTableRows" id="onionBig_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/onionBig-64.png" style="width:35px;height:35px;" alt="onionBig"></td>
                        <td>Onion Big (பெரிய வெங்காயம்)</td> <td>₹24</td> <td>₹28 - 30</td> <td>₹29 - 40</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="onionSmall_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/onionSmall-64.png" style="width:35px;height:32px;" alt="onionSmall"></td>
                        <td>Onion Small (சின்ன வெங்காயம்)</td> <td>₹32</td> <td>₹37 - 41</td> <td>₹38 - 53</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="tomato_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/tomato-64.png" style="width:42px;height:32px;" alt="tomato"></td>
                        <td>Tomato (தக்காளி)</td> <td>₹16</td> <td>₹18 - 20</td> <td>₹19 - 26</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="greenChili_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/greenChili-64.png" style="width:35px;height:37px;" alt="greenChili"></td>
                        <td>Green Chilli (பச்சை மிளகாய்)</td> <td>₹35</td> <td>₹40 - 44</td> <td>₹42 - 58</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="beetroot_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/beetroot-64.png" style="width:28px;height:40px;" alt="beetroot"></td>
                        <td>Beetroot (பீட்ரூட்)</td> <td>₹34</td> <td>₹39 - 43</td> <td>₹41 - 56</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="potato_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/potato-64.png" style="width:35px;height:25px;" alt="potato"></td>
                        <td>Potato (உருளைக்கிழங்கு)</td> <td>₹32</td> <td>₹37 - 41</td> <td>₹38 - 53</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="plantain_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/plantain-64.png" style="width:42px;height:27px;" alt="plantain"></td>
                        <td>Raw Banana (Plantain) (வாழைக்காய்)</td> <td>₹8</td> <td>₹9 - 10</td> <td>₹10 - 13</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="amaranthLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/amaranthLeaves-64.png" style="width:35px;height:28px;" alt="amaranthLeaves"></td>
                        <td>Amaranth Leaves (சிறு கீரை)</td> <td>₹10</td> <td>₹12 - 13</td> <td>₹12 - 17</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="amla_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/amla-64.png" style="width:42px;height:30px;" alt="amla"></td>
                        <td>Amla (நெல்லிக்காய்)</td> <td>₹50</td> <td>₹58 - 64</td> <td>₹60 - 83</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="ashGourd_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/ashGourd-64.png" style="width:35px;height:20px;" alt="ashGourd"></td>
                        <td>Ash gourd (சாம்பல் பூசணிக்காய்)</td> <td>₹25</td> <td>₹29 - 32</td> <td>₹30 - 41</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="babyCorn_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/babyCorn-64.png" style="width:35px;height:22px;" alt="babyCorn"></td>
                        <td>Baby Corn (சிறிய மக்காச்சோளம்)</td> <td>₹66</td> <td>₹76 - 84</td> <td>₹79 - 109</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="bananaFlower_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/bananaFlower-64.png" style="width:42px;height:25px;" alt="bananaFlower"></td>
                        <td>Banana Flower (வாழைப்பூ)</td> <td>₹15</td> <td>₹17 - 19</td> <td>₹18 - 25</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="capsicum_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/capsicum-64.png" style="width:28px;height:35px;" alt="capsicum"></td>
                        <td>Capsicum (குடைமிளகாய்)</td> <td>₹31</td> <td>₹36 - 39</td> <td>₹37 - 51</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="bitterGourd_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/bitterGourd-64.png" style="width:42px;height:31px;" alt="bitterGourd"></td>
                        <td>Bitter Gourd (பாகற்காய்)</td> <td>₹39</td> <td>₹45 - 50</td> <td>₹47 - 64</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="bottleGourd_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/bottleGourd-64.png" style="width:42px;height:42px;" alt="bottleGourd"></td>
                        <td>Bottle Gourd (சுரைக்காய்)</td> <td>₹27</td> <td>₹31 - 34</td> <td>₹32 - 45</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="butterBeans_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/butterBeans-64.png" style="width:38px;height:30px;" alt="butterBeans"></td>
                        <td>Butter Beans (பட்டர் பீன்ஸ்)</td> <td>₹73</td> <td>₹84 - 93</td> <td>₹88 - 120</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="broadBeans_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/broadBeans-64.png" style="width:42px;height:27px;" alt="broadBeans"></td>
                        <td>Broad Beans (அவரைக்காய்)</td> <td>₹39</td> <td>₹45 - 50</td> <td>₹47 - 64</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="cabbage_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/cabbage-64.png" style="width:35px;height:32px;" alt="cabbage"></td>
                        <td>Cabbage (முட்டைக்கோஸ்)</td> <td>₹24</td> <td>₹28 - 30</td> <td>₹29 - 40</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="carrot_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/carrot-64.png" style="width:35px;height:44px;" alt="carrot"></td>
                        <td>Carrot (கேரட்)</td> <td>₹54</td> <td>₹62 - 69</td> <td>₹65 - 89</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="cauliflower_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/cauliflower-64.png" style="width:35px;height:32px;" alt="cauliflower"></td>
                        <td>Cauliflower (காலிஃபிளவர்)</td> <td>₹26</td> <td>₹30 - 33</td> <td>₹31 - 43</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="clusterBeans_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/clusterBeans-64.png" style="width:35px;height:26px;" alt="clusterBeans"></td>
                        <td>Cluster beans (கொத்தவரை)</td> <td>₹33</td> <td>₹38 - 42</td> <td>₹40 - 54</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="coconut_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/coconut-64.png" style="width:35px;height:29px;" alt="coconut"></td>
                        <td>Coconut (தேங்காய்)</td> <td>₹33</td> <td>₹38 - 42</td> <td>₹40 - 54</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="colocasiaLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/colocasiaLeaves-64.png" style="width:35px;height:29px;" alt="colocasiaLeaves"></td>
                        <td>Colocasia Leaves (சேப்பங்கிழங்கு கீரை)</td> <td>₹12</td> <td>₹14 - 15</td> <td>₹14 - 20</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="colocasia_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/colocasia-64.png" style="width:35px;height:23px;" alt="colocasia"></td>
                        <td>Colocasia (சேப்பங்கிழங்கு)</td> <td>₹28</td> <td>₹32 - 36</td> <td>₹34 - 46</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="corianderLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/corianderLeaves-64.png" style="width:35px;height:39px;" alt="corianderLeaves"></td>
                        <td>Coriander Leaves (கொத்துமல்லி)</td> <td>₹9</td> <td>₹10 - 11</td> <td>₹11 - 15</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="corn_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/corn-64.png" style="width:28px;height:47px;" alt="corn"></td>
                        <td>Corn (மக்காச்சோளம்)</td> <td>₹28</td> <td>₹32 - 36</td> <td>₹34 - 46</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="cucumber_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/cucumber-64.png" style="width:35px;height:24px;" alt="cucumber"></td>
                        <td>Cucumber (வெள்ளரிக்காய்)</td> <td>₹25</td> <td>₹29 - 32</td> <td>₹30 - 41</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="curryLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/curryLeaves-64.png" style="width:35px;height:44px;" alt="curryLeaves"></td>
                        <td>Curry Leaves (கறிவேப்பிலை)</td> <td>₹28</td> <td>₹32 - 36</td> <td>₹34 - 46</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="dillLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/dillLeaves-64.png" style="width:35px;height:40px;" alt="dillLeaves"></td>
                        <td>Dill Leaves (வெந்தயம் இலைகள்)</td> <td>₹10</td> <td>₹12 - 13</td> <td>₹12 - 17</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="drumsticks_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/drumsticks-64.png" style="width:35px;height:25px;" alt="drumsticks"></td>
                        <td>Drumsticks (முருங்கைக்காய்)</td> <td>₹30</td> <td>₹35 - 38</td> <td>₹36 - 50</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="brinjal_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/brinjal-64.png" style="width:35px;height:45px;" alt="brinjal"></td>
                        <td>Brinjal (கத்திரிக்காய்)</td> <td>₹28</td> <td>₹32 - 36</td> <td>₹34 - 46</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="brinjalBig_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/brinjalBig-64.png" style="width:35px;height:39px;" alt="brinjalBig"></td>
                        <td>Brinjal (Big) (கத்திரிக்காய்)</td> <td>₹25</td> <td>₹29 - 32</td> <td>₹30 - 41</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="elephantYam_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/elephantYam-64.png" style="width:35px;height:26px;" alt="elephantYam"></td>
                        <td>Elephant Yam (சேனைக்கிழங்கு)</td> <td>₹27</td> <td>₹31 - 34</td> <td>₹32 - 45</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="fenugreekLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/fenugreekLeaves-64.png" style="width:35px;height:24px;" alt="fenugreekLeaves"></td>
                        <td>Fenugreek Leaves (வெந்தயக்கீரை)</td> <td>₹9</td> <td>₹10 - 11</td> <td>₹11 - 15</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="frenchBeans_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/frenchBeans-64.png" style="width:35px;height:23px;" alt="frenchBeans"></td>
                        <td>French Beans (பீன்ஸ்)</td> <td>₹46</td> <td>₹53 - 58</td> <td>₹55 - 76</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="garlic_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/garlic-64.png" style="width:35px;height:36px;" alt="garlic"></td>
                        <td>Garlic (பூண்டு)</td> <td>₹73</td> <td>₹84 - 93</td> <td>₹88 - 120</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="ginger_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/ginger-64.png" style="width:35px;height:32px;" alt="ginger"></td>
                        <td>Ginger (இஞ்சி)</td> <td>₹38</td> <td>₹44 - 48</td> <td>₹46 - 63</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="onionGreen_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/onionGreen-64.png" style="width:35px;height:21px;" alt="onionGreen"></td>
                        <td>Onion Green (பச்சை வெங்காயம்)</td> <td>₹44</td> <td>₹51 - 56</td> <td>₹53 - 73</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="greenPeas_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/greenPeas-64.png" style="width:35px;height:26px;" alt="greenPeas"></td>
                        <td>Green Peas (பச்சை பட்டாணி)</td> <td>₹74</td> <td>₹85 - 94</td> <td>₹89 - 122</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="ivyGourd_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/ivyGourd-64.png" style="width:35px;height:23px;" alt="ivyGourd"></td>
                        <td>Ivy Gourd (கோவைக்காய்)</td> <td>₹27</td> <td>₹31 - 34</td> <td>₹32 - 45</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="lemon_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/lemon-64.png" style="width:35px;height:30px;" alt="lemon"></td>
                        <td>Lemon (Lime) (எலுமிச்சை)</td> <td>₹53</td> <td>₹61 - 67</td> <td>₹64 - 87</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="mangoRaw_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/mangoRaw-64.png" style="width:35px;height:30px;" alt="mangoRaw"></td>
                        <td>Mango Raw (மாங்காய்)</td> <td>₹86</td> <td>₹99 - 109</td> <td>₹103 - 142</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="mintLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/mintLeaves-64.png" style="width:35px;height:25px;" alt="mintLeaves"></td>
                        <td>Mint Leaves (புதினா)</td> <td>₹4</td> <td>₹5 - 5</td> <td>₹5 - 7</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="mushroom_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/mushroom-64.png" style="width:28px;height:36px;" alt="mushroom"></td>
                        <td>Mushroom (காளான்)</td> <td>₹84</td> <td>₹97 - 107</td> <td>₹101 - 139</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="mustardLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/mustardLeaves-64.png" style="width:28px;height:37px;" alt="mustardLeaves"></td>
                        <td>Mustard Leaves (கடுகு இலைகள்)</td> <td>₹18</td> <td>₹21 - 23</td> <td>₹22 - 30</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="ladiesFinger_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/ladiesFinger-64.png" style="width:28px;height:40px;" alt="ladiesFinger"></td>
                        <td>Ladies Finger (வெண்டைக்காய்)</td> <td>₹26</td> <td>₹30 - 33</td> <td>₹31 - 43</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="pumpkin_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/pumpkin-64.png" style="width:35px;height:34px;" alt="pumpkin"></td>
                        <td>Pumpkin (பூசணி)</td> <td>₹20</td> <td>₹23 - 25</td> <td>₹24 - 33</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="radish_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/radish-64.png" style="width:31px;height:43px;" alt="radish"></td>
                        <td>Radish (முள்ளங்கி)</td> <td>₹28</td> <td>₹32 - 36</td> <td>₹34 - 46</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="ridgeGourd_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/ridgeGourd-64.png" style="width:42px;height:19px;" alt="ridgeGourd"></td>
                        <td>Ridge Gourd (பீர்க்கங்காய்)</td> <td>₹31</td> <td>₹36 - 39</td> <td>₹37 - 51</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="shallot_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/shallot-64.png" style="width:35px;height:37px;" alt="shallot"></td>
                        <td>Shallot (Pearl Onion) (சிறிய வெங்காயம்)</td> <td>₹36</td> <td>₹41 - 46</td> <td>₹43 - 59</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="snakeGourd_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/snakeGourd-64.png" style="width:42px;height:19px;" alt="snakeGourd"></td>
                        <td>Snake Gourd (புடலங்காய்)</td> <td>₹30</td> <td>₹35 - 38</td> <td>₹36 - 50</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="sorrelLeaves_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/sorrelLeaves-64.png" style="width:35px;height:28px;" alt="sorrelLeaves"></td>
                        <td>Sorrel Leaves (புளிச்ச கீரை)</td> <td>₹11</td> <td>₹13 - 14</td> <td>₹13 - 18</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="spinach_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/spinach-64.png" style="width:35px;height:37px;" alt="spinach"></td>
                        <td>Spinach (கீரை)</td> <td>₹13</td> <td>₹15 - 17</td> <td>₹16 - 21</td> <td>1kg</td> 
                  </tr>
                 
                    <tr class="todayVetableTableRows" id="sweetPotato_vegetable">
                        <td><img loading="lazy" src="https://vegetablemarketprice.com/resource/images/vegetables/sweetPotato-64.png" style="width:35px;height:21px;" alt="sweetPotato"></td>
                        <td>Sweet Potato (இனிப்பு உருளைக்கிழங்கு)</td> <td>₹36</td> <td>₹41 - 46</td> <td>₹43 - 59</td> <td>1kg</td> 
                  </tr>
                 
           
        </tbody>
        
    </table>
</div>
